@import "tailwindcss";
/* @import "./typography.css"; */

/* config dark theme to be driven by a CSS selector instead of the prefers-color-scheme media query */
/* @custom-variant dark (&:where(.dark, .dark *)); */

/* use a data attribute instead of a class to activate dark mode */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* -- design token to map directly to a utility class -- */
/* Use @theme to define new theme variables and extend the default theme: */
@theme {
	--font-poppins: Poppins, sans-serif;
	--color-orange: oklch(0.778 0.233 32.68);
	--color-blue: oklch(0.627 0.181 259.13);
	--color-sunflare: oklch(0.929 0.181 99.13);
	--color-voltgreen: oklch(0.862 0.233 127.13);
	--color-nightshade: oklch(0.18 0 0);
	--color-coal: oklch(0.175 0.004 282.6);
}

/* regular CSS variables that aren't meant to be connected to a utility class */
/* :root {} */

@layer base {
  html {
    color-scheme: light dark;
  }

  * {
    @apply border-gray-200 dark:border-gray-800;
  }

  html,
  body {
    @apply bg-white font-poppins text-blue dark:bg-nightshade dark:text-sunflare antialiased;
    -webkit-tap-highlight-color: transparent; /* remove Android highlights taps on links */
  }

  .using-mouse * {
    outline: none !important;
  }
}